<section>
    <!-- CSS Grid -->
    <h2 id="reasons">3 Reasons to purchase</h2>

    <div>
        <h3>Ut sed metus</h3>
        <p class="p-seccion">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div>
        <h3>Curabitur ac erat</h3>
        <p class="p-seccion">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div>
        <h3>Morbi dictum</h3>
        <p class="p-seccion">Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <button class="button more">More reasons</button>
</section>
<span class="headerflexbox__arrow">
    <a href="index.html#top"><img class="" src="./assets/images/ico-arrow.svg" alt="" /></a>
</span>