<section class="section">
    <h2 class="h2" id="reasons">3 Reasons to purchase</h2>
    <div class="grid">
        <include src="./sectionHighlights.html" title="Ut sed metus"
            description="Lorem ipsum dolor sit amet, consecteur."></include>

        <include src="./sectionHighlights.html" title="Curabitur ac erat"
            description="Mauris mattis urna quis lorem molestie."></include>
        <include src="./sectionHighlights.html" title="Morbi dictum" description="Aliquam in dolor et dolor tincidunt.">
        </include>

    </div>

    <a class="button more">More reasons</a>
</section>