<footer class="footer">
  <div class="footer__group">
    <nav>
      <ul>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Check our articles">Articles</a></li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Read our books">Books</a></li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="See our events">Events</a>
        </li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="3 Reasons to purchase">Reasons</a>
        </li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Follow our tips">Tips</a></li>
      </ul>
    </nav>

  </div>
  <div class="footer__group">
    <nav>
      <ul>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Tweet us something!">Twitter</a>
        </li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Follow us on Instagram">Instagram</a></li>
        <li class="lifooter"><a target="_blank" class="lifooter--link" href="https://adalab.es" class="menu_element"
            title="Come to our social page">Mastodon.social</a></li>
      </ul>
    </nav>

  </div>
  <div class="footer__group--element">
    <span>&copy;2022</span>
    <div>we<span class="heart"> ❤︎ </span>components</div>
  </div>
</footer>