<header>
  <div class="burger-box"><a href="https://adalab.es"><img class="burger-menu" src="./assets/images/ico-menu.svg"
        alt="" /></a></div>
  <div class="headerdiv">

    <h1 class="headerdiv__h1">Anonymous proxy</h1>
    <h3 class="headerdiv__h3">In hac habitasse plate <span class="headerspan">dictumst.</span></h3>
    <span class="headerdiv__arrow">
      <a class="headerflexbox__arrow--link" href="index.html#reasons"><img src="./assets/images/ico-scroll-down.svg"
          alt="arrow" title="I take you to a section" /></a>
    </span>



  </div>


</header>