<header>
  <div class="burger-box"><a href="https://adalab.es"><img class="burger-menu" src="./assets/images/ico-menu.svg"
        alt="" /></a></div>
  <div class="headerflexbox">
    <h1 class="h1">Anonymous proxy</h1>
    <h3 class="h3">In hac habitasse plate dictumst. </h3>
    <span class="headerflexbox__arrow">
      <a href="index.html#reasons"><img class="headerflexbox__arrow--img" src="./assets/images/ico-scroll-down.svg"
          alt="" /></a>
    </span>

  </div>
  <!--     <img class="cover-image" src="./assets/images/cover.jpeg" alt="" />
-->
</header>