// fonts
$font-h1: 'Aladin', cursive;
$font-main:'Roboto Serif', serif©;
$font-secondary: "Roboto", sans-serif;

// colors
$color-detail: #137634;
$color-white: #ffffff;
$color-light: #417c55;
$color-main: #137634;
$color-dark: #4E3D42;
$color-extra: #aed0bf;
$color-lightblack: #4a4a4a;