// fonts
$font-main:  'Roboto Slab', serif;
$font-secondary: 'Roboto', sans-serif;


// colors
$color-detail:#f26002;
$color-white:#ffffff;
$color-light:#8ccbea;
$color-main:#0271bc;
$color-dark:#304268;
$color-extra:#eff9ff;

