* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.burger-box {
  z-index: 20;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 22px;
  background-color: #304268;
  position: fixed;
  background-color: #304268; }
  @media all and (min-width: 768px) {
    .burger-box {
      width: 43px;
      height: 44px; } }
  @media all and (min-width: 1200px) {
    .burger-box {
      width: 44px;
      height: 44px; } }

.go {
  font-family: "Roboto", sans-serif;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  color: #f26002;
  width: 76px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  background-color: #ffffff; }
  @media all and (min-width: 768px) {
    .go {
      width: 91px; } }
  @media all and (min-width: 1200px) {
    .go {
      width: 160px; } }

.more {
  margin-top: 41px;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  border: 2px solid #f26002;
  border-radius: 22.5px;
  color: #ffffff;
  width: 184px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  background-color: #f26002; }
  @media all and (min-width: 768px) {
    .more {
      width: 210px; } }
  @media all and (min-width: 1200px) {
    .more {
      width: 255px; } }

.button:hover {
  transform: scale(1.1, 1.1);
  transition: width 1s, height 1s, transform 1s;
  transition-timing-function: ease; }

.headerdiv {
  display: flex;
  align-items: flex-end;
  background-image: url("../images/cover.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  text-align: center;
  padding: 35px; }
  .headerdiv__h1 {
    word-spacing: 100vw;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 20px;
    /*  sombra al texto */
    text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    @media all and (min-width: 768px) {
      .headerdiv__h1 {
        margin-bottom: 20px; } }
  .headerdiv__h3 {
    margin-bottom: 35.2px;
    font-weight: normal;
    font-size: 16px;
    font-family: "Roboto", sans-serif; }
    @media all and (min-width: 768px) {
      .headerdiv__h3 {
        margin-bottom: 12px; } }
  .headerdiv__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    padding: 12px;
    border-radius: 50%;
    background-color: #ffffff; }
    @media all and (min-width: 768px) {
      .headerdiv__arrow {
        width: 45px;
        height: 45px; } }
    .headerdiv__arrow--link {
      padding: 20px; }

/* .headerspan{
  
  @media all and (min-width: 1280px) {

    word-spacing: 110vw;

  
   
  }
}
 */
.article {
  margin: 37px 15px 45px 15px; }
  @media all and (min-width: 768px) {
    .article {
      margin: 37px 39px 60px 39px; } }
  @media all and (min-width: 1280px) {
    .article {
      margin: 65px 275px 60px 275px; } }

.p-insomnia {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #8ccbea;
  line-height: 30px;
  text-transform: capitalize; }
  @media all and (min-width: 1280px) {
    .p-insomnia {
      font-size: 16px; } }

.h2 {
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  margin-bottom: 20px; }
  @media all and (min-width: 768px) {
    .h2 {
      font-size: 26px;
      margin-bottom: 27px; } }
  @media all and (min-width: 1280px) {
    .h2 {
      font-size: 32px;
      margin-bottom: 32px; } }

.articlep {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 26px; }
  @media all and (min-width: 768px) {
    .articlep {
      font-size: 20px;
      margin-bottom: 26px; } }
  @media all and (min-width: 1280px) {
    .articlep {
      margin-bottom: 27px; } }

.section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  background-color: #eff9ff;
  padding-top: 29px;
  padding-bottom: 60px; }
  .section__arrow {
    /* padding: 2px; */
    justify-self: center;
    position: absolute;
    transform: translatey(50%);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #ffffff;
    /*  sombra enlace flecha */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    @media all and (min-width: 768px) {
      .section__arrow {
        width: 45px;
        height: 45px; } }
    .section__arrow--link {
      padding: 20px; }
  @media all and (min-width: 768px) {
    .section {
      padding-top: 36px; } }
  @media all and (min-width: 1280px) {
    .section {
      padding-top: 61px; } }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, 1fr;
  grid-gap: 44px;
  margin: 49px 68px 0px 68px; }
  .grid__h3 {
    line-height: 30px;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: bold; }
    @media all and (min-width: 768px) {
      .grid__h3 {
        font-size: 24px; } }
  .grid__p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px; }
    @media all and (min-width: 768px) {
      .grid__p {
        font-size: 20px; } }
  @media all and (min-width: 768px) {
    .grid {
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      margin: 38px 38px 0px 38px; } }

.footer {
  padding-top: 65px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #304268;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
  gap: 30px 32px; }
  .footer .heart {
    color: #f26002; }
  @media all and (min-width: 768px) {
    .footer {
      text-align: start;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      padding: 50px 39px 40px 39px;
      gap: 30px; } }
  @media all and (min-width: 1280px) {
    .footer {
      padding: 50px 370px 40px 370px;
      gap: 30px 31px; } }
  .footer__group {
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap; }
    @media all and (min-width: 768px) {
      .footer__group {
        width: 210px; } }
    .footer__group--element {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      gap: 12px; }
      @media all and (min-width: 768px) {
        .footer__group--element {
          margin-right: 39px;
          align-items: flex-start;
          background-color: green;
          order: 1; } }

.lifooter {
  list-style: none;
  text-decoration: none;
  padding: 5px; }
  .lifooter--link {
    padding: 2px;
    /*    animation: bounce;
animation-duration: 2s; */
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left; }

/*# sourceMappingURL=main.css.map */
