.footerbigbox{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  /* padding: 2px; */
  justify-self: center;
  position: absolute;
  transform: translatey(-50%);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: $color-white;
  /*  sombra enlace flecha */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 /*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


&:hover{
  animation: rotation 20s  linear;

}


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
  @media all and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
  &--link {
    padding: 20px;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.footer {
  width: 100vw;
  padding: 65px 15px 36px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-dark;
  font-family: $font-secondary;
  text-align: center;
  color: $color-white;
  gap: 30px 32px;

  .heart {
    color: $color-detail;
  }
  @media all and (min-width: 768px) {
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 39px 40px 39px;
    gap: 30px;
  }
  @media all and (min-width: 1280px) {
    padding: 50px 370px 40px 370px;
    gap: 30px 31px;
    justify-content: center;
  }
  &__group {
    text-transform: uppercase;
    line-height: 1.88;
    font-size: 1rem; /* 16px */
    display: flex;
    flex-wrap: wrap;
    @media all and (min-width: 768px) {
      width: 210px;
    }
    @media all and (min-width: 1280px) {
      width: 159px;
    }
    &--element {
      display: flex;
      flex-direction: column;
      font-size: 0.875rem; /* 14px; */
      gap: 12px;
      @media all and (min-width: 768px) {
        margin-right: 39px;
        align-items: flex-start;
        order: -1;
      }
    }
  }
}
.lifooter {
  list-style: none;
  text-decoration: none;
  padding: 5px;
  &--link {
    padding: 2px;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    &:hover {
      color: $color-detail;
    }
  }
}
