.footer {
  padding: 65px 15px 36px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-dark;
  font-family: $font-secondary;
  text-align: center;
  color: $color-white;
  gap: 30px 32px;

  .heart {
    color: $color-detail;
  }
  @media all and (min-width: 768px) {
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 39px 40px 39px;
    gap: 30px;
  }
  @media all and (min-width: 1280px) {
    padding: 50px 370px 40px 370px;
    gap: 30px 31px;
    justify-content: center;
  }
  &__group {
    text-transform: uppercase;
    line-height: 1.88;
    font-size: 1rem; /* 16px */
    display: flex;
    flex-wrap: wrap;
    @media all and (min-width: 768px) {
      width: 210px;
    }
    @media all and (min-width: 1280px) {
      width: 159px;
    }
    &--element {
      display: flex;
      flex-direction: column;
      font-size: 0.875rem; /* 14px; */
      gap: 12px;
      @media all and (min-width: 768px) {
        margin-right: 39px;
        align-items: flex-start;
        order: -1;
      }
    }
  }
}
.lifooter {
  list-style: none;
  text-decoration: none;
  padding: 5px;
  &--link {
    padding: 2px;
    /*    animation: bounce;
animation-duration: 2s; */
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    &:hover {
      color: $color-detail;
    }
  }
}
